{# vim:se filetype=html.tornadotmpl: #}

<link rel="stylesheet" href="{{ static_url("show.css") }}">
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/coffee-script/1.6.3/coffee-script.min.js"></script>
<script src="{{ static_url("show.coffee") }}" type="text/coffeescript"></script>

<a href="/show">-</a>

<p><code>{{ s }}</code></p>
<p><code>{{ v }}</code></p>

<ul>
    {% for k in l %}
    <li>
    {% if v is not None %}
    <a href="?{{ "{}.{}".format(s, k) }}">{{ k }}</a>
    {% else %}
    <a href="?{{ k }}">{{ k }}</a>
    {% end %}
    </li>
    {% end %}
</ul>
